** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 50vh;
    background-color: #00008B;
}

.header-top {
    height: 4rem;
    background-color: #ADD8E6;
}

.header-bottom-info {
    width: 25rem;
    height: 12rem;
    background-color: pink;
}