** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 50vh;
    background-color: #00008B;
}

.header-top {
    height: 80px;
    background-color: #ADD8E6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-top-info{
    background-color: #DAA521;
    width: 1000px;
    height: 45px;
}

.header-bottom {
    height: calc(50vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-bottom-info {
    width: 25rem;
    height: 12rem;
    background-color: pink;
}